:root {
    --cream: #f8f7c1;
    --blue: #47e7fc;
    --dark-blue: #446972;
    --pink: #f779cd;
    --fuchsia: #9e1675;
    --dark: #29041c;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.high-scores {
    margin-left: 10px;
}

.quiz-wrapper {
    margin-left: 40px;
    margin-right: 40px;
}

.timer-dispaly {
    margin-right: 10px;
}

.btn {
    display: block;
    margin: 10px;
    padding: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}