:root {
    --cream: #fafae2;
    --blue: #47e7fc;
    --dark-blue: #2d2e57;
    --pink: #f779cd;
    --fuchsia: #9e1675;
    --dark: #29041c;
}

body {
    background-color: var(--cream);
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-wrapper {
    align-items: center;
    text-align: center;
}

.answers {
    align-items: center;
}

.btn {
    background-color: var(--blue);
    color: var(--dark-blue);
    margin: 10px;
    padding: 5px;
    border-radius: 11%;
    font-size: 25;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.high-scores {
    margin-left: 10px;
    color: var(--dark-blue);
    text-decoration: var(--blue) wavy underline;
}

.quiz-wrapper {
    margin-left: 40px;
    margin-right: 40px;
}

.timer-dispaly {
    margin-right: 10px;
}

.btn {
    display: block;
    margin: 10px;
    padding: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}